[submodule "SWPF.GameDevTool"]
	path = SWPF.GameDevTool
	url = https://github.com/GHW0826/SWPF.GameDevTool.git
[submodule "SWPF.Common"]
	path = SWPF.Common
	url = https://github.com/GHW0826/SWPF.Common.git
